.post-item-name{
  color: rgb(35, 73, 107);
}

.post-item-title{
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.post-item-body{
  background-color: rgb(233, 236, 201);
  border-radius: 10px;
}

